{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block body %}
<div class="relative flex flex-col lg:flex-row w-full min-w-0 mt-6 mb-6 break-words bg-clip-border rounded-2xl border-stone-200 bg-light/30 draggable space-y-4 lg:space-y-0 lg:space-x-6">
    <div class="lg:w-1/4 w-full shadow-lg p-6 flex-auto min-h-[250px] glassmorphism relative transition-transform duration-300 hover:-translate-y-2 hover:shadow-2xl">
        <div class="w-full h-56 glassmorphism rounded-t-lg flex items-center justify-center">
            <img id="banner-preview" src="{{ user.banner ? asset('uploads/banners/' ~ user.banner) : 'https://via.placeholder.com/150' }}" alt="Bannière" class="w-full h-full object-cover rounded-lg">
        </div>
        <div class="absolute top-44 left-1/2 transform -translate-x-1/2 w-32 h-32 rounded-full border-4 border-gray-900 transition-transform duration-300 hover:scale-110 hover:border-purple-500 hover:shadow-lg hover:shadow-purple-500/50">
            {% if user.avatar %}
                <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="Photo de profil" class="w-full h-full rounded-full object-cover">
            {% else %}
                <img class="w-full h-full rounded-full object-cover" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
            {% endif %}
        </div>
        <div class="mt-20 text-center">
            <div class="flex justify-center items-center">
                <h3 class="text-gray-100 font-bold text-xl">{{ user.username }}</h3>
                {% if app.user.isVip %}
                    <img src="{{ asset('images/vip-logo.png') }}" alt="VIP" class="ml-2 w-8 h-8 " />
                {% endif %}
            </div>
            <p class="mt-3 text-gray-400 text-sm italic">Chevalier de l'Ordre</p>
            <div class="flex justify-center space-x-2 mt-4">
                <span class="inline-block px-3 py-1 text-xs font-semibold text-white bg-red-500 rounded-full">Badge 1</span>
                <span class="inline-block px-3 py-1 text-xs font-semibold text-white bg-green-500 rounded-full">Badge 2</span>
                <span class="inline-block px-3 py-1 text-xs font-semibold text-white bg-blue-500 rounded-full">Badge 3</span>
            </div>
        </div>
    </div>
    <div class="lg:w-3/4 w-full px-8 pt-8 pb-8 flex-auto min-h-[200px] glassmorphism space-y-6">
        <div class="text-gray-400 text-md">
            <div class="flex flex-wrap space-x-6 items-center text-gray-100">
                {% if app.user and app.user.id == user.id %}
                    <div class="w-full flex justify-center lg:justify-end lg:absolute lg:top-4 lg:right-4 mt-4 lg:mt-0 mb-4">
                        <a href="{{ path('app_profile_edit') }}" class="p-3 transition-all duration-300 ease-in-out border-b-2 hover:border-yellow-500 text-gray-100 transform hover:-translate-y-1 hover:scale-105 glassmorphism-warning flex items-center space-x-3">
                            <span>Modifier le profil</span>
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 2048 2048">
                                <path d="M1783 988v18q0 9 1 18v18q0 9-1 18l259 161l-159 383l-297-68q-24 26-50 50l68 297l-383 159l-161-259h-18q-9 0-18 1h-18q-9 0-18-1l-161 259l-383-159l68-297q-26-24-50-50l-297 68L6 1221l259-161v-18q0-9-1-18v-18q0-9 1-18L6 827l159-383l297 68q24-26 50-50l-68-297L827 6l161 259h18q9 0 18-1h18q9 0 18 1L1221 6l383 159l-68 297q26 24 50 50l297-68l159 383zm-117 130q2-24 4-47t2-48q0-23-2-47t-4-47l236-147l-86-208l-271 63q-31-38-63-70t-71-64l63-271l-208-86l-148 236q-23-2-47-4t-47-2q-24 0-47 2t-48 4L782 146l-208 86l63 271q-38 31-70 63t-64 71l-271-63l-86 208l236 148q-2 24-4 47t-2 48q0 23 2 47t4 47l-236 147l86 208l271-63q31 38 63 70t71 64l-63 271l208 86l148-236q23 2 47 4t47 2q24 0 47-2t48-4l147 236l208-86l-63-271q38-31 70-63t64-71l271 63l86-208zm-642-470q78 0 146 29t120 81t80 119t30 147q0 78-29 146t-81 120t-119 80t-147 30q-78 0-146-29t-120-81t-80-119t-30-147q0-78 29-146t81-120t119-80t147-30m0 640q55 0 103-20t84-57t56-84t21-103q0-55-20-103t-57-84t-84-56t-103-21q-55 0-103 20t-84 57t-56 84t-21 103q0 55 20 103t57 84t84 56t103 21"/>
                            </svg>
                        </a>
                    </div>
                {% endif %}

                {% if user.gender %}
                    <div class="flex items-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 50 50">
                            <circle cx="22.875" cy="4.625" r="4.125" fill="currentColor"/>
                            <path fill="currentColor" d="M22 10h-3c-2.82 0-5 1.719-5 4.587V27c0 2 3 2 3 0V15h1v32c0 1.233.768 2 2 2c1.235 0 2-.767 2-2zm13 15l-4.017-10.357C30.634 12.322 28.29 10 25.615 10H23v23.783c.5.002 1 .075 1 .217v13c0 1.04.917 2 2 2c1.086 0 2-.961 2-2V34h3.869c.362 0 1.044-.654 1.044-1c0-.08.029-.931 0-1l-5.909-16.237l-.034-.167c0-.237.199-.429.447-.429c.211 0 .388.141.435.329L31.869 26c.267.601 1.365 1 2.087 1c.965 0 1.065-1.895 1.044-2"/>
                        </svg>
                        <p>{{ user.gender }}</p>
                    </div>
                {% endif %}

                {% if user.birthdate %}
                    <div class="flex items-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" d="M7.5 6V1m10 5V1m4 16v4.5h-18v-3m17.863-10H3.352M.5 18.25v.25h17.9l.15-.25l.234-.491A28 28 0 0 0 21.5 5.729V3.5h-18v2.128A28 28 0 0 1 .743 17.744z"/>
                        </svg>
                        <p>{{ date().diff(user.birthdate).y }} ans</p>
                    </div>
                {% endif %}

                {% set diff = date().diff(user.getCreatedAt) %}
                <div class="flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M138.798 35.342L28.73 114.268l95.777 29.095l111.305-87.09zm112.986 31.082l-118.047 89.96l51.07 131.102l8.534-7.455l4.23-15.708a18.338 13.102 76.863 0 1-9.08-20.45a18.338 13.102 76.863 0 1 10.997-13.727a18.338 13.102 76.863 0 1 3.62.53a18.338 13.102 76.863 0 1 3.113 1.544l7.94-29.48a9 9 0 0 1 .353-1.04l.058-.128a9 9 0 0 1 .32-.685l.09-.153a9 9 0 0 1 .37-.625a9 9 0 0 1 .534-.723l.066-.074a9 9 0 0 1 .54-.594a9 9 0 0 1 .65-.593l.004-.002a9 9 0 0 1 .46-.342a9 9 0 0 1 .266-.197a9 9 0 0 1 .502-.3a9 9 0 0 1 .27-.157a9 9 0 0 1 .44-.208a9 9 0 0 1 .38-.178a9 9 0 0 1 .437-.152a9 9 0 0 1 .41-.143a9 9 0 0 1 .404-.1a9 9 0 0 1 .47-.114a9 9 0 0 1 .51-.07a9 9 0 0 1 .37-.05h.01l.01-.003l33.624-2.873a18.338 13.102 76.863 0 1 10.326-9.777a18.338 13.102 76.863 0 1 3.622.53a18.338 13.102 76.863 0 1 8.527 7.327l13.043-1.113L251.785 66.42zM137.25 74.03a9.8 19.77 77.916 0 1 12.798 8.734a9.8 19.77 77.916 0 1-21.938 11.998a9.8 19.77 77.916 0 1-16.57-8.602a9.8 19.77 77.916 0 1 21.938-12a9.8 19.77 77.916 0 1 3.77-.13zm100.228 23.517a18.338 13.102 76.863 0 1 .002 0a18.338 13.102 76.863 0 1 3.62.53a18.338 13.102 76.863 0 1 12.112 21.94a18.338 13.102 76.863 0 1-14.617 13.196a18.338 13.102 76.863 0 1-12.114-21.94a18.338 13.102 76.863 0 1 10.998-13.726zM24.22 131.71l46.992 114.124l94.236 40.38l-45.988-125.57l-95.24-28.935zm147.886 17.43a18.338 13.102 76.863 0 1 3.622.528a18.338 13.102 76.863 0 1 12.11 21.94a18.338 13.102 76.863 0 1-14.616 13.197a18.338 13.102 76.863 0 1-12.112-21.94a18.338 13.102 76.863 0 1 10.996-13.726zm-75.123 13.016a19.454 9.134 59.254 0 1 16.955 15.078a19.454 9.134 59.254 0 1-.425 19.485A19.454 9.134 59.254 0 1 95.6 181.78a19.454 9.134 59.254 0 1 .424-19.48a19.454 9.134 59.254 0 1 .96-.144zm263.393 40.21l-112.102 9.577l113.762 79.926l113.598-16.956l-115.258-72.55zM70.82 212.022A19.454 9.134 59.254 0 1 87.777 227.1a19.454 9.134 59.254 0 1-.425 19.484a19.454 9.134 59.254 0 1-17.913-14.938a19.454 9.134 59.254 0 1 .425-19.482a19.454 9.134 59.254 0 1 .96-.14zm157.378 7.813L186.66 374.023l115.616 99.454l47.147-168.47l-121.225-85.17zm126.987 11.168a21.76 8.898 15.267 0 1 19.693 4.783a21.76 8.898 15.267 0 1 7.607 14.244a21.76 8.898 15.267 0 1-28.886-3.182a21.76 8.898 15.267 0 1-7.61-14.244a21.76 8.898 15.267 0 1 9.195-1.6zM487.78 291.3L366.9 309.343l-46.823 167.316l116.297-31.77zm-181.808 10.8a25.834 15.573 84.277 0 1 4.238.943a25.834 15.573 84.277 0 1 12.873 31.72a25.834 15.573 84.277 0 1-18.105 17.893a25.834 15.573 84.277 0 1-12.874-31.72a25.834 15.573 84.277 0 1 13.868-18.836m154.086 11.636a13.237 21.96 28.62 0 1 7.673 4.13a13.237 21.96 28.62 0 1-6.176 28.435a13.237 21.96 28.62 0 1-21.287 3.878a13.237 21.96 28.62 0 1 6.175-28.434a13.237 21.96 28.62 0 1 13.616-8.008zM391.362 324.4a13.237 21.96 28.62 0 1 7.672 4.13a13.237 21.96 28.62 0 1-6.176 28.435a13.237 21.96 28.62 0 1-21.287 3.877a13.237 21.96 28.62 0 1 6.177-28.434a13.237 21.96 28.62 0 1 13.615-8.008zm-173.996 13.305a25.834 15.573 84.277 0 1 4.24.945a25.834 15.573 84.277 0 1 12.872 31.72a25.834 15.573 84.277 0 1-18.106 17.894a25.834 15.573 84.277 0 1-12.873-31.72a25.834 15.573 84.277 0 1 13.866-18.84zm212.278 60.87a13.237 21.96 28.62 0 1 7.67 4.13a13.237 21.96 28.62 0 1-6.174 28.434a13.237 21.96 28.62 0 1-21.287 3.874a13.237 21.96 28.62 0 1 6.176-28.434a13.237 21.96 28.62 0 1 13.616-8.007z"/>
                    </svg>
                    <p>{{ diff.y > 0 ? diff.y ~ ' an' ~ (diff.y > 1 ? 's' : '') : diff.m > 0 ? diff.m ~ ' mois' : diff.d > 0 ? diff.d ~ ' jour' ~ (diff.d > 1 ? 's' : '') : 'moins d\'une minute' }} sur DiceFinder</p>
                </div>
            </div>
        </div>

        <div class="w-full text-gray-100 glassmorphism p-6 rounded-lg mb-8">
            <h2 class="text-2xl font-semibold mb-4">Biographie</h2>
            <p>{{ user.bio ? user.bio : 'Aucune biographie disponible.' }}</p>
        </div>
        <div class="flex justify-center space-x-4 mt-4">
            <a href="javascript:void(0)" class="tab-link p-3 transition-all duration-300 ease-in-out border-b-2 hover:border-purple-500 text-gray-100 transform hover:-translate-y-1 hover:scale-105 glassmorphism" aria-controls="owned-jdrs">
                {{ ownedJDRCount == 1 ? 'Univers créé' : 'Univers créés' }}
            </a>
            <a href="javascript:void(0)" class="tab-link p-3 transition-all duration-300 ease-in-out border-b-2 hover:border-purple-500 text-gray-100 transform hover:-translate-y-1 hover:scale-105 glassmorphism" aria-controls="joined-jdrs">
                {{ joinedJDRCount == 1 ? 'Univers rejoint' : 'Univers rejoints' }}
            </a>
            <a href="javascript:void(0)" class="tab-link p-3 transition-all duration-300 ease-in-out border-b-2 hover:border-purple-500 text-gray-100 transform hover:-translate-y-1 hover:scale-105 glassmorphism" aria-controls="favorite-jdrs">
                {{ favoriteJDRCount == 1 ? 'Univers en favori' : 'Univers en favoris' }}
            </a>
        </div>
    </div>
</div>
<div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-clip-border rounded-2xl border-stone-200 bg-light/30 draggable">
    <div id="owned-jdrs" class="tab-content">
        <div class="px-9 pt-9 pb-9 flex-auto min-h-[70px] pb-0 glassmorphism">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                {% for groupe in ownedJDRs %}
                    <div class="bg-white bg-opacity-10 border border-gray-500 rounded-lg shadow-lg p-6 pb-5 text-white relative transition-all duration-300 hover:translate-y-[-10px] hover:shadow-2xl hover:bg-opacity-20 card-item"
                        style="will-change: transform;">
                        <a href="{{ path('app_groupe_j_d_r_show', {'id': groupe.id}) }}" class="block">
                            <div class="relative">
                                <img src="{{ asset('uploads/images-jdr/' ~ groupe.picture) }}"
                                    alt="{{ groupe.title }} image"
                                    class="rounded-lg mb-4 w-full h-[20rem] object-cover {% if groupe.players|length >= groupe.maxPlayer %} blur-sm {% endif %} tokenImage">
                                <div class="absolute top-2 right-2">
                                    <span class="text-sm font-bold px-2 py-1 rounded
                                        {% if groupe.status == 'nouveau' %} bg-green-600
                                        {% elseif groupe.status == 'en_cours' %} bg-blue-500
                                        {% elseif groupe.status == 'termine' %} bg-red-500
                                        {% else %} bg-gray-700
                                        {% endif %} text-white">
                                        {% if groupe.status == 'nouveau' %}
                                            Nouveau
                                        {% elseif groupe.status == 'en_cours' %}
                                            En Cours
                                        {% elseif groupe.status == 'termine' %}
                                            Terminé
                                        {% else %}
                                            Statut inconnu
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </a>
                        <div class="mb-2">
                            <a href="{{ path('app_groupe_j_d_r_show', {'id': groupe.id}) }}" class="font-semibold hover:underline truncate max-w-[100%] block">{{ groupe.title }}</a>
                        </div>
                        <div class="flex justify-between items-center mt-2">
                            <a href="{{ path('app_profile_show', { 'id': groupe.owner.id }) }}" class="flex items-center group transition-all duration-300 hover:bg-opacity-20 p-1 rounded-lg">
                                {% if groupe.owner.avatar %}
                                    <img src="{{ asset('uploads/avatars/' ~ groupe.owner.avatar) }}" alt="MJ photo" class="rounded-full h-8 w-8 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300">
                                {% else %}
                                    <img class="rounded-full h-8 w-8 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                                {% endif %}
                                <div class="ml-2">
                                    <p class="text-xs text-gray-400 group-hover:text-white transition-colors duration-300">MJ</p>
                                    <p class="text-xs text-white group-hover:underline transition-colors duration-300">{{ groupe.owner.username }}</p>
                                </div>
                            </a>
                            <div class="flex items-center text-right gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                </svg>
                                {% if groupe.players|length >= groupe.maxPlayer %}
                                    <p class="text-lg font-bold text-red-500">Complet</p>
                                {% else %}
                                    <p class="font-bold text-white pl-2">{{ groupe.players|length }} / {{ groupe.maxPlayer }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="text-gray-400">Aucun nouveau jeu de rôle disponible.</p>
                {% endfor %}
            </div>
        </div>
    </div>
        <div id="joined-jdrs" class="tab-content hidden">
            <div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-clip-border rounded-2xl border-stone-200 bg-light/30 draggable">
                <div class="px-9 pt-9 pb-9 flex-auto min-h-[70px] pb-0 glassmorphism">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                        {% for joined in joinedJDRs %}
                            <div class="bg-white bg-opacity-10 border border-gray-500 rounded-lg shadow-lg p-6 pb-5 text-white relative transition-all duration-300 hover:translate-y-[-10px] hover:shadow-2xl hover:bg-opacity-20 card-item tab-content"
                                style="will-change: transform;">
                                <a href="{{ path('app_groupe_j_d_r_show', {'id': joined.id}) }}" class="block">
                                    <div class="relative">
                                        <img src="{{ asset('uploads/images-jdr/' ~ joined.picture) }}" 
                                            alt="{{ joined.title }} image" 
                                            class="rounded-lg mb-4 w-full h-[20rem] object-cover {% if joined.players|length >= joined.maxPlayer %} blur-sm {% endif %} tokenImage">
                                        <div class="absolute top-2 right-2">
                                            <span class="text-sm font-bold px-2 py-1 rounded 
                                                {% if joined.status == 'nouveau' %} bg-green-600
                                                {% elseif joined.status == 'en_cours' %} bg-blue-500
                                                {% elseif joined.status == 'termine' %} bg-red-500
                                                {% else %} bg-gray-700
                                                {% endif %} text-white">
                                                {% if joined.status == 'nouveau' %}
                                                    Nouveau
                                                {% elseif joined.status == 'en_cours' %}
                                                    En Cours
                                                {% elseif joined.status == 'termine' %}
                                                    Terminé
                                                {% else %}
                                                    Statut inconnu
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <div class="mb-2">
                                    <a href="{{ path('app_groupe_j_d_r_show', {'id': joined.id}) }}" class="font-semibold hover:underline truncate max-w-[100%] block">{{ joined.title }}</a>
                                </div>
                                <div class="flex justify-between items-center mt-2">
                                    <a href="{{ path('app_profile_show', { 'id': joined.owner.id }) }}" class="flex items-center group transition-all duration-300 hover:bg-opacity-20 p-1 rounded-lg">
                                        {% if joined.owner.avatar %}
                                            <img src="{{ asset('uploads/avatars/' ~ joined.owner.avatar) }}" alt="MJ photo" class="rounded-full h-8 w-8 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300">
                                        {% else %}
                                            <img class="rounded-full h-8 w-8 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                                        {% endif %}
                                        <div class="ml-2">
                                            <p class="text-xs text-gray-400 group-hover:text-white transition-colors duration-300">MJ</p>
                                            <p class="text-xs text-white group-hover:underline transition-colors duration-300">{{ joined.owner.username }}</p>
                                        </div>
                                    </a>
                                    <div class="flex items-center text-right gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                        </svg>
                                        {% if joined.players|length >= joined.maxPlayer %}
                                            <p class="text-lg font-bold text-red-500">Complet</p>
                                        {% else %}
                                            <p class="font-bold text-white pl-2">{{ joined.players|length }} / {{ joined.maxPlayer }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p class="text-gray-400">Aucun univers rejoint.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="favorite-jdrs" class="tab-content hidden">
            <div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-clip-border rounded-2xl border-stone-200 bg-light/30 draggable">
                <div class="px-9 pt-9 pb-9 flex-auto min-h-[70px] pb-0 glassmorphism">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                        {% for favorite in favoriteJDRs %}
                            <div class="bg-white bg-opacity-10 border border-gray-500 rounded-lg shadow-lg p-6 pb-5 text-white relative transition-all duration-300 hover:translate-y-[-10px] hover:shadow-2xl hover:bg-opacity-20 card-item"
                                aria-controls="favorite-jdrs" style="will-change: transform;">
                                <a href="{{ path('app_groupe_j_d_r_show', {'id': favorite.id}) }}" class="block">
                                    <div class="relative">
                                        <img src="{{ asset('uploads/images-jdr/' ~ favorite.picture) }}" 
                                            alt="{{ favorite.title }} image" 
                                            class="rounded-lg mb-4 w-full h-[20rem] object-cover {% if favorite.players|length >= favorite.maxPlayer %} blur-sm {% endif %} tokenImage">
                                        <div class="absolute top-2 right-2">
                                            <span class="text-sm font-bold px-2 py-1 rounded 
                                                {% if favorite.status == 'nouveau' %} bg-green-600
                                                {% elseif favorite.status == 'en_cours' %} bg-blue-500
                                                {% elseif favorite.status == 'termine' %} bg-red-500
                                                {% else %} bg-gray-700
                                                {% endif %} text-white">
                                                {% if favorite.status == 'nouveau' %}
                                                    Nouveau
                                                {% elseif favorite.status == 'en_cours' %}
                                                    En Cours
                                                {% elseif favorite.status == 'termine' %}
                                                    Terminé
                                                {% else %}
                                                    Statut inconnu
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <div class="mb-2">
                                    <a href="{{ path('app_groupe_j_d_r_show', {'id': favorite.id}) }}" class="font-semibold hover:underline truncate max-w-[100%] block">{{ favorite.title }}</a>
                                </div>
                                <div class="flex justify-between items-center mt-2">
                                    <a href="{{ path('app_profile_show', { 'id': favorite.owner.id }) }}" class="flex items-center group transition-all duration-300 hover:bg-opacity-20 p-1 rounded-lg">
                                        {% if favorite.owner.avatar %}
                                            <img src="{{ asset('uploads/avatars/' ~ favorite.owner.avatar) }}" alt="MJ photo" class="rounded-full h-8 w-8 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300">
                                        {% else %}
                                            <img class="rounded-full h-8 w-8 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                                        {% endif %}
                                        <div class="ml-2">
                                            <p class="text-xs text-gray-400 group-hover:text-white transition-colors duration-300">MJ</p>
                                            <p class="text-xs text-white group-hover:underline transition-colors duration-300">{{ favorite.owner.username }}</p>
                                        </div>
                                    </a>
                                    <div class="flex items-center text-right gap-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                        </svg>
                                        {% if favorite.players|length >= favorite.maxPlayer %}
                                            <p class="text-lg font-bold text-red-500">Complet</p>
                                        {% else %}
                                            <p class="font-bold text-white pl-2">{{ favorite.players|length }} / {{ favorite.maxPlayer }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p class="text-gray-400">Aucun JDR en favori.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
        const tabLinks = document.querySelectorAll('.tab-link');
        const tabContents = document.querySelectorAll('.tab-content');

        function resetTabs() {
            tabLinks.forEach(link => {
                link.parentElement.classList.remove('active');
                link.classList.remove('glassmorphism-purple');
            });
            tabContents.forEach(content => {
                content.classList.add('hidden');
            });
        }

        function activateTab(tabLink) {
            const tabId = tabLink.getAttribute('aria-controls');
            const targetContent = document.getElementById(tabId);

            if (targetContent) {
                tabLink.parentElement.classList.add('active');
                tabLink.classList.add('glassmorphism-purple');
                targetContent.classList.remove('hidden');
                localStorage.setItem('activeTab', tabId);
            }
        }

        const activeTabId = localStorage.getItem('activeTab');
        if (activeTabId) {
            const activeTabLink = document.querySelector(`[aria-controls="${activeTabId}"]`);
            if (activeTabLink) {
                resetTabs();
                activateTab(activeTabLink);
            }
        } else {
            resetTabs();
            activateTab(tabLinks[0]);
        }

        tabLinks.forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                resetTabs();
                activateTab(this);
            });
        });
    });
</script>
{% endblock %}
