{% extends 'base.html.twig' %}

{% block title %}DiceFinder | Création de compte{% endblock %}

{% block body %}
<link href="{{ asset('css/register.css') }}" rel="stylesheet">
<div class="min-h-screen flex justify-center px-4 sm:px-6 lg:px-8 mt-6 sm:mt-20">
    <div class="max-w-md w-full space-y-8">
        <div>
            <img class="mx-auto h-24 w-auto mb-3 hidden sm:block" src="{{ asset('images/logo-dicefinder.png') }}" alt="DiceFinder Logo">
            <h2 class="mt-6 text-center text-2xl tracking-tight text-white font-bold">Créez un compte.</h2>
            <p class="mt-1 text-center text-sm text-gray-600">
                ou
                <a href="{{ path('app_login') }}" class="font-medium text-indigo-600 hover:text-indigo-500">Connectez-vous.</a>
            </p>
        </div>
        {{ form_errors(registrationForm) }}
        {% for message in app.flashes('emailsent') %}
            <div class="bg-green-600 text-dark p-4 rounded mb-6">
                {{ message }}
            </div>
        {% endfor %}
        <div class="p-7">
            {{ form_start(registrationForm, {'attr': {'class': 'space-y-6'}}) }}
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger text-red-500" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <div>
                <div class="flex items-center space-x-1">
                    {{ form_label(registrationForm.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'block text-base '}}) }}
                    <span class="text-rose-500">*</span>
                </div>
                {{ form_widget(registrationForm.username, {'attr': {'class': 'block w-full appearance-none rounded-md border border-gray-600 bg-gray-800 px-4 py-2 placeholder-gray-400 text-gray-200 shadow-md focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm'}}) }}
                <p class="text-red-500 text-xs italic mt-2">
                    {{ form_errors(registrationForm.username) }}
                </p>
            </div>
                <div>
                    <label class="block text-base text-gray-200">Date de naissance (Facultatif)</label>
                    <div class="mt-1 grid grid-cols-3 gap-2">
                        <input type="number" id="day" name="day" min="1" max="31" placeholder="Jour" maxlength="2"
                            oninput="if(this.value.length > 2) this.value = this.value.slice(0, 2)" onchange="updateBirthdate()" 
                            class="w-full rounded-md border border-gray-600 bg-gray-800 px-4 py-2 text-gray-200 placeholder-gray-500 shadow-md focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                        
                        <select id="month" name="month" onchange="updateBirthdate()" 
                                class="w-full rounded-md border border-gray-600 bg-gray-800 px-4 py-2 text-gray-200 placeholder-gray-500 shadow-md focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                            <option value="">Mois</option>
                            <option value="1">Janvier</option>
                            <option value="2">Février</option>
                            <option value="3">Mars</option>
                            <option value="4">Avril</option>
                            <option value="5">Mai</option>
                            <option value="6">Juin</option>
                            <option value="7">Juillet</option>
                            <option value="8">Août</option>
                            <option value="9">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Décembre</option>
                        </select>
                        
                        <input type="number" id="year" name="year" min="1920" max="{{ "now"|date("Y") }}" placeholder="Année" maxlength="4"
                            oninput="if(this.value.length > 4) this.value = this.value.slice(0, 4)" onchange="updateBirthdate()" 
                            class="w-full rounded-md border border-gray-600 bg-gray-800 px-4 py-2 text-gray-200 placeholder-gray-500 shadow-md focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                    </div>
                    <input type="hidden" id="birthdate" name="birthdate">
                </div>
            <div>
                <div class="flex items-center space-x-1">
                    {{ form_label(registrationForm.email, 'Adresse e-mail', {'label_attr': {'class': 'block text-base  text-gray-200'}}) }}
                    <span class="text-rose-500">*</span>
                </div>
                <div class="mt-1">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'block w-full appearance-none rounded-md border border-gray-600 bg-gray-800 px-4 py-2 placeholder-gray-400 text-gray-200 shadow-md focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm'}}) }}
                    <p class="text-red-500 text-xs italic mt-2">
                        {{ form_errors(registrationForm.email) }}
                    </p>
                </div>
            </div>
            <div>
                <div class="flex items-center space-x-1">
                    {{ form_label(registrationForm.password.first, 'Mot de passe', {'label_attr': {'class': 'block text-base  text-dark'}}) }}
                    <span class="text-rose-500">*</span>
                </div>
                <div class="mt-1">
                    {{ form_widget(registrationForm.password.first, {'attr': {'class': 'block w-full appearance-none rounded-md border border-gray-600 bg-gray-800 px-4 py-2 placeholder-gray-400 text-gray-200 shadow-md focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm'}}) }}
                    <p class="text-red-500 text-xs italic mt-2">
                        {{ form_errors(registrationForm.password.first) }}
                    </p>
                </div>
            </div>
            <div>
                <div class="flex items-center space-x-1">
                    {{ form_label(registrationForm.password.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'block text-base  text-dark'}}) }}
                    <span class="text-rose-500">*</span>
                </div>
                <div class="mt-1">
                    {{ form_widget(registrationForm.password.second, {'attr': {'class': 'block w-full appearance-none rounded-md border border-gray-600 bg-gray-800 px-4 py-2 placeholder-gray-400 text-gray-200 shadow-md focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm'}}) }}
                    {% if form_errors(registrationForm.password.second) %}
                        <p class="text-red-500 text-xs italic mt-2">
                            {{ form_errors(registrationForm.password.second) }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500'}}) }}
                    {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'ml-2 block text-sm text-dark'}}) }}
                </div>
            </div>
            <div>
                <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-lg  text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    Créer un compte
                </button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
<script>
document.getElementById('registrationForm').addEventListener('submit', function(event) {
    const day = document.getElementById('day').value;
    const month = document.getElementById('month').value;
    const year = document.getElementById('year').value;

    if (!month) {
        event.preventDefault();
        alert("Veuillez sélectionner un mois pour compléter votre date de naissance.");

        const monthSelect = document.getElementById('month');
        monthSelect.classList.add("border-red-500");
        monthSelect.classList.remove("border-gray-600");
    }
});

function updateBirthdate() {
    const day = document.getElementById('day').value.padStart(2, '0');
    const month = document.getElementById('month').value.padStart(2, '0');
    const year = document.getElementById('year').value;
    const birthdateField = document.getElementById('birthdate');

    if (day && month && year) {
        birthdateField.value = `${year}-${month}-${day}`;
    } else {
        birthdateField.value = '';
    }
}
</script>
{% endblock %}
