{% extends 'base.html.twig' %}

{% block title %}DiceFinder | Les Univers{% endblock %}

{% block body %}
<div class="container mx-auto px-4 p-6 mt-10">
    <h1 class="text-3xl font-bold mb-8 text-gray-900">Les groupes JDR</h1>

    <form method="get" action="{{ path('app_groupe_j_d_r_index') }}" class="mb-8">
        <input type="text" name="search" placeholder="Rechercher un JDR..." class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </form>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {% for groupe_j_d_r in groupe_j_d_rs %}
            <div class="bg-gray-800 rounded-lg shadow-md p-6 pb-5 text-white">
                <img src="{{ asset('uploads/images-jdr/' ~ groupe_j_d_r.picture) }}" alt="{{ groupe_j_d_r.title }} image" class="rounded-lg mb-4 w-full h-[20rem] object-cover">
                
                <div class="flex justify-between items-center">
                    <span class="font-semibold">{{ groupe_j_d_r.title }}</span>
                    <a href="{{ path('app_groupe_j_d_r_show', {'id': groupe_j_d_r.id}) }}" class="bg-blue-600 text-white px-2 py-1 rounded text-xs">GO</a>
                </div>

                <div class="flex justify-between items-center mt-2">
                    <div class="flex items-center">
                    {% if app.user.avatar %}
                        <img src="{{ asset('uploads/avatars/' ~ groupe_j_d_r.owner.avatar) }}" alt="MJ photo" class="rounded h-8 w-8 object-cover">
                    {% else %}
                        <img class="rounded h-8 w-8 object-cover" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                    {% endif %}
                        <div class="ml-2">
                            <p class="text-xs text-gray-400">MJ</p>
                            <p class="text-xs text-white">{{ groupe_j_d_r.owner.username }}</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <p class="text-xs text-gray-400">Places disponibles</p>
                        <p class="text-lg font-bold text-white">{{ groupe_j_d_r.maxPlayer - groupe_j_d_r.players|length }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-gray-700 text-lg">No records found</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
