{% extends 'base.html.twig' %}

{% block title %}{{ groupe_j_d_r.title }} | DiceFinder{% endblock %}

{% block body %}
<div class="container mx-auto px-4 p-6">
    <a href="{{ path('app_groupe_j_d_r_index') }}" class="text-white bg-[#4447a1] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Retour
    </a>
    <div class="bg-slate-900 text-white min-h-screen p-4 md:p-8 space-y-10">
        <div class="flex flex-col space-y-8 lg:space-y-0 lg:flex-row items-start lg:items-start justify-between lg:space-x-10">
            <div class="w-full lg:w-1/2 space-y-8 relative">
                <img src="{{ asset('uploads/images-jdr/' ~ groupe_j_d_r.picture) }}" alt="{{ groupe_j_d_r.title }}" class="rounded-lg shadow-lg w-full h-auto lg:h-[500px] object-cover">
                <div class="absolute top-2 right-2">
                    <span class="text-xs sm:text-sm font-bold px-2 py-1 rounded 
                            {% if groupe_j_d_r.status == 'nouveau' %} bg-green-500
                            {% elseif groupe_j_d_r.status == 'en_cours' %} bg-blue-500
                            {% elseif groupe_j_d_r.status == 'termine' %} bg-red-500
                            {% else %} bg-gray-700
                            {% endif %} text-white">
                            {% if groupe_j_d_r.status == 'nouveau' %}
                                Nouveau
                            {% elseif groupe_j_d_r.status == 'en_cours' %}
                                En Cours
                            {% elseif groupe_j_d_r.status == 'termine' %}
                                Terminé
                            {% else %}
                                Statut inconnu
                            {% endif %}
                    </span>
                </div>

                {% if is_member and not is_owner %}
                    <form action="{{ path('leave_jdr', {'id': groupe_j_d_r.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir quitter cet univers ?');" class="mt-4">
                        <input type="hidden" name="_token" value="{{ csrf_token('leave' ~ groupe_j_d_r.id) }}">
                        <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded w-full hover:bg-red-700 transition-all duration-300">
                            Quitter l'univers
                        </button>
                    </form>
                {% endif %}

                {% if app.user and app.user.id == groupe_j_d_r.owner.id %}
                    <a href="{{ path('app_groupe_j_d_r_edit', { id: groupe_j_d_r.id }) }}" class="w-full bg-green-600 text-white font-bold py-3 rounded mt-4 hover:bg-green-700 block text-center">
                        Editer mon Univers
                    </a>
                {% endif %}
            </div>

            <div class="w-full lg:w-1/2 space-y-6">
                <div class="flex items-center mb-4">
                    <svg  width="36" height="35" viewBox="0 0 46 45" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                        <g clip-path="url(#clip0_502_849)">
                            <g filter="url(#filter0_d_502_849)">
                                <path d="M27.3125 0.00012207C17.5094 5.52568 18.6875 21.0939 18.6875 21.0939C18.6875 21.0939 14.375 19.6876 14.375 13.3595C9.22992 16.2781 5.75 21.8878 5.75 28.1251C5.75 37.4449 13.4731 45.0001 23 45.0001C32.527 45.0001 40.25 37.4449 40.25 28.1251C40.2499 14.4142 27.3125 11.6017 27.3125 0.00012207V0.00012207ZM24.5152 39.1855C21.0489 40.031 17.5381 37.9674 16.6737 34.5763C15.8095 31.1853 17.9189 27.7507 21.3854 26.9052C29.7542 24.864 30.803 20.2602 30.803 20.2602C30.803 20.2602 34.9762 36.6339 24.5152 39.1855V39.1855Z" fill="#FF6D00"/>
                                <path d="M18.5318 21.569C18.5321 21.5691 18.5325 21.5692 18.6875 21.0939L18.5325 21.5692L19.2424 21.8007L19.1861 21.0563L19.186 21.0561L19.186 21.0561L19.1859 21.0546L19.1854 21.0474L19.1833 21.0165C19.1815 20.9887 19.1789 20.9465 19.1759 20.8907C19.1699 20.7791 19.1622 20.6132 19.1558 20.3992C19.143 19.9711 19.1353 19.351 19.1564 18.5888C19.1985 17.0632 19.3556 14.9744 19.8138 12.7186C20.686 8.42494 22.6274 3.62541 26.8367 0.874025C27.1307 6.12395 30.0519 9.60489 32.9697 13.0818C33.1125 13.2519 33.2552 13.4221 33.3977 13.5924C36.6229 17.4486 39.75 21.4598 39.75 28.1251C39.75 37.1585 32.2612 44.5001 23 44.5001C13.7388 44.5001 6.25 37.1585 6.25 28.1251C6.25 22.3697 9.30569 17.1606 13.9022 14.2277C14.0804 17.0177 15.1074 18.8193 16.1676 19.9429C16.7461 20.556 17.3263 20.9587 17.7658 21.2095C17.9857 21.335 18.171 21.4228 18.3043 21.4803C18.371 21.509 18.4248 21.5302 18.4635 21.5447C18.4828 21.552 18.4984 21.5576 18.51 21.5616L18.5244 21.5665L18.5292 21.5682L18.531 21.5688L18.5318 21.569ZM30.803 20.2602L31.2875 20.1367L30.3179 20.1491C30.3157 20.1485 30.3157 20.1484 30.3157 20.1484L30.3158 20.1478L30.3153 20.1498C30.3146 20.1524 30.3136 20.1565 30.3121 20.162C30.311 20.1659 30.3097 20.1704 30.3082 20.1757C30.301 20.2011 30.2885 20.2425 30.2692 20.2982C30.2306 20.4096 30.1649 20.578 30.0601 20.7899C29.8509 21.2132 29.4852 21.8117 28.8665 22.4766C27.6326 23.8027 25.3683 25.4191 21.2669 26.4195C17.5392 27.3286 15.254 31.0303 16.1892 34.6998L16.6708 34.577L16.1892 34.6998C17.1235 38.3653 20.9098 40.5796 24.6337 39.6713L24.5152 39.1855L24.6337 39.6713C27.3939 38.998 29.2034 37.4023 30.3453 35.3997C31.4778 33.4135 31.9465 31.0424 32.0811 28.7959C32.216 26.5446 32.0172 24.3821 31.7865 22.7869C31.6709 21.988 31.5469 21.3284 31.4515 20.8674C31.4038 20.6368 31.3632 20.4557 31.3344 20.3315C31.3199 20.2694 31.3084 20.2215 31.3004 20.1887L31.2911 20.151L31.2886 20.1409L31.2879 20.138L31.2877 20.1372C31.2876 20.1369 31.2875 20.1367 30.803 20.2602Z" stroke="black"/>
                            </g>
                        </g>
                        <defs>
                            <filter id="filter0_d_502_849" x="1.75" y="0.00012207" width="42.5001" height="53" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="4"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_502_849"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_502_849" result="shape"/>
                            </filter>
                            <clipPath id="clip0_502_849">
                                <rect width="46" height="45" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    {% if not favoriteJdrs.contains(groupe_j_d_r) %}
                        <a href="{{ path('add_favorite', {'id': groupe_j_d_r.id}) }}" class="text-lg font-semibold text-gray-300 cursor-pointer hover:text-orange-500 pt-1">
                            Ajouter aux Favoris
                        </a>
                    {% else %}
                        <div class="flex items-center">
                            <span class="text-lg font-semibold text-gray-300">Déjà dans les favoris</span>
                            <svg class="w-5 h-5 sm:w-6 sm:h-6 text-green-500 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
                    {% endif %}
                </div>
                <div class="flex justify-between items-center">
                    <h2 class="text-2xl sm:text-3xl font-bold">{{ groupe_j_d_r.title }}</h2>
                </div>
                <p class="text-gray-300">{{ groupe_j_d_r.description }}</p>

                <div class="flex justify-between">
                    <div>
                        <span class="text-gray-400">Date de Création</span>
                        <p class="text-lg font-semibold">{{ groupe_j_d_r.getCreatedAt|date('d/m/Y') }}</p>
                    </div>
                    <div>
                        <span class="text-gray-400">Participants</span>
                        <p class="text-lg font-semibold">{{ groupe_j_d_r.players|length }}/{{ groupe_j_d_r.maxPlayer }}</p>
                    </div>
                </div>

                <div id="category-container" class="mt-6">
                    <h3 class="font-semibold">Catégories</h3>
                    <div class="flex flex-wrap gap-2 mt-2">
                        {% set colors = ['bg-blue-200 text-blue-800', 'bg-green-200 text-green-800', 'bg-yellow-200 text-yellow-800', 'bg-red-200 text-red-800'] %}
                        {% for category in groupe_j_d_r.categories %}
                            {% set color = colors[loop.index0 % colors|length] %}
                            <span class="badge {{ color }} px-2 py-1 rounded">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="bg-gray-800 p-6 rounded-lg space-y-4">
                    <h3 class="font-semibold">MJ et Joueurs</h3>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div class="flex items-center space-x-4">
                            {% if groupe_j_d_r.owner.avatar %}
                                <img src="{{ asset('uploads/avatars/' ~ groupe_j_d_r.owner.avatar) }}" class="rounded-full w-12 h-12 object-cover" alt="{{ groupe_j_d_r.owner.username }}">
                            {% else %}
                                <img class="rounded-full w-12 h-12 object-cover" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                            {% endif %}
                            <div class="flex-1 min-w-0">
                                <p class="font-semibold truncate max-w-full">{{ groupe_j_d_r.owner.username }}</p>
                                <span class="text-gray-400 text-sm">MJ</span>
                            </div>
                        </div>
                        {% for player in groupe_j_d_r.players %}
                            {% if player.id != groupe_j_d_r.owner.id %}
                                <div class="flex items-center space-x-4">
                                    {% if player.avatar %}
                                        <img src="{{ asset('uploads/avatars/' ~ player.avatar) }}" class="rounded-full w-12 h-12 object-cover" alt="{{ player.username }}">
                                    {% else %}
                                        <img class="rounded-full w-12 h-12 object-cover" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                                    {% endif %}
                                    <div class="flex-1 min-w-0">
                                        <p class="font-semibold truncate max-w-full">{{ player.username }}</p>
                                        <span class="text-gray-400 text-sm">Joueur</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="bg-gray-800 p-6 rounded-lg space-y-4">
                    <h3 class="font-semibold">Recrutement</h3>
                    <p class="text-lg font-semibold {{ groupe_j_d_r.recrutement ? 'text-green-500' : 'text-red-500' }}">
                        {{ groupe_j_d_r.recrutement ? 'Ouvert' : 'Fermé' }}
                    </p>
                </div>
            </div>
        </div>

        <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
            <ul class="flex flex-wrap justify-between sm:justify-center space-x-4 sm:space-x-8 -mb-px overflow-x-auto">
                <li class="me-2">
                    <a href="#" class="inline-block p-3 sm:p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" data-tab-target="#description-tab" aria-current="page">Description</a>
                </li>
                <li class="me-2">
                    <a href="#" class="inline-block p-3 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" data-tab-target="#horaire-tab">Horaire</a>
                </li>
            </ul>
        </div>

        <div id="description-tab" class="tab-content">
            <h3 class="text-lg font-semibold">Description</h3>
            <p>{{ groupe_j_d_r.description }}</p>
        </div>

        <div id="horaire-tab" class="tab-content hidden">
            <h3 class="text-lg font-semibold">Horaire des événements</h3>
            <ul>
                {% for event in groupe_j_d_r.events %}
                    <li>
                        {% set dayOfWeek = event.eventTime|date('l') %}
                        {% set dayOfWeekFr = {
                            'Monday': 'Lundi',
                            'Tuesday': 'Mardi',
                            'Wednesday': 'Mercredi',
                            'Thursday': 'Jeudi',
                            'Friday': 'Vendredi',
                            'Saturday': 'Samedi',
                            'Sunday': 'Dimanche'
                        }[dayOfWeek] %}

                        {% set hour = event.eventTime|date('H') %}
                        {% set minute = event.eventTime|date('i') %}

                        {% if hour >= 0 and hour < 12 %}
                            {% set period = 'du matin' %}
                        {% elseif hour >= 12 and hour < 18 %}
                            {% set period = 'de l\'après-midi' %}
                        {% else %}
                            {% set period = 'du soir' %}
                        {% endif %}

                        {{ dayOfWeekFr }} à {{ hour }}:{{ minute }} {{ period }}
                    </li>
                {% else %}
                    <li>Aucun événement programmé.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-16">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-2xl font-bold">Parties Qui Recrutent</h2>
                <a href="{{ path('app_groupe_j_d_r_index') }}" class="text-blue-500 border border-blue-500 rounded-full py-2 px-6 hover:bg-blue-500 hover:text-white">Voir Plus</a>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for jdr in recruiting_jdrs|slice(0, 3) %}
                    <div class="bg-gray-800 rounded-lg shadow-md p-6 pb-5 text-white">
                        <img src="{{ asset('uploads/images-jdr/' ~ jdr.picture) }}" alt="{{ jdr.title }}" class="rounded-lg mb-4 w-full h-[20rem] object-cover">
                        <div class="flex justify-between items-center">
                            <span class="font-semibold text-lg">{{ jdr.title }}</span>
                            <a href="{{ path('app_groupe_j_d_r_show', { id: jdr.id }) }}" class="bg-blue-600 text-white px-3 py-2 rounded text-xs">GO</a>
                        </div>
                        <div class="flex justify-between items-center mt-4">
                            <div class="flex items-center">
                                {% if jdr.owner.avatar %}
                                    <img src="{{ asset('uploads/avatars/' ~ jdr.owner.avatar) }}" alt="{{ jdr.owner.username }}" class="rounded h-10 w-10 object-cover">
                                {% else %}
                                    <img class="rounded h-10 w-10 object-cover" src="{{ asset('images/default-avatar.png') }}" alt="MJ photo">
                                {% endif %}
                                <div class="ml-3">
                                    <p class="text-sm text-gray-400">MJ</p>
                                    <p class="text-sm text-white">{{ jdr.owner.username }}</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-sm text-gray-400">Places disponibles</p>
                                <p class="text-lg font-bold text-white">{{ jdr.maxPlayer - jdr.players|length }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="text-center text-gray-500">Aucune partie ne recrute actuellement.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flex justify-center fixed bottom-0 left-0 right-0 bg-gray-900 p-4">
        {% if app.user is null %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                Vous devez avoir un compte et être connecté pour rejoindre un univers.
            </button>
        {% elseif is_owner %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                Vous êtes le MJ
            </button>
        {% elseif is_member %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                Vous êtes déjà membre
            </button>
        {% elseif request_in_progress %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                En attente d'acceptation de la demande
            </button>
        {% elseif is_closed %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                Ce groupe est {{ groupe_j_d_r.status }} et ne recrute plus
            </button>
        {% elseif 'ROLE_JOUEUR' not in app.user.getRoles() %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                Vous devez avoir le grade de joueur pour rejoindre ce JDR.
            </button>
        {% elseif groupe_j_d_r.recrutement == false %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                Le recrutement est fermé pour cet Univers
            </button>
        {% elseif groupe_j_d_r.players|length >= groupe_j_d_r.maxPlayer %}
            <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                Cet univers est complet. Pas de places disponibles.
            </button>
        {% else %}
            <button id="participate-button" class="w-full sm:w-[80%] md:w-[60%] bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 text-white font-bold py-3 rounded-lg shadow-lg hover:shadow-2xl hover:bg-blue-800 transition-all duration-300 ease-in-out transform hover:scale-105">
                <svg class="inline-block w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Je Participe
            </button>
        {% endif %}
    </div>
    <div id="request-join-modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center transition-opacity duration-300 ease-in-out">
        <div class="bg-white p-6 rounded-lg space-y-4 shadow-2xl max-w-md w-full relative">
            <button id="close-modal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <h3 class="text-lg font-semibold">Postuler pour rejoindre cet Univers</h3>
            <form id="request-join-form" method="POST" action="{{ path('request_join', {'groupeId': groupe_j_d_r.id}) }}">
                <div class="mb-4">
                    <label for="message" class="block text-base font-semibold text-gray-900 mb-2">Votre message</label>
                    <textarea id="message" name="message" rows="4" class="bg-gray-100 text-gray-800 text-sm rounded-md shadow-inner focus:ring-blue-500 focus:border-blue-500 block w-full p-3 border border-gray-300" placeholder="Expliquez pourquoi vous voulez rejoindre cet Univers..."></textarea>
                </div>
                <div class="flex justify-end space-x-2">
                    <button type="button" id="cancel-button" class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition-all duration-200">Annuler</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-all duration-200 shadow-lg">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const tabLinks = document.querySelectorAll('[data-tab-target]');
    const tabContents = document.querySelectorAll('.tab-content');

    tabLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            tabLinks.forEach(item => {
                item.classList.remove('text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
                item.classList.add('hover:text-gray-600', 'hover:border-gray-300', 'dark:hover:text-gray-300', 'border-transparent');
            });
            tabContents.forEach(content => content.classList.add('hidden'));
            link.classList.add('text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
            link.classList.remove('hover:text-gray-600', 'hover:border-gray-300', 'border-transparent');
            const target = document.querySelector(link.getAttribute('data-tab-target'));
            target.classList.remove('hidden');
        });
    });

    const participateButton = document.getElementById('participate-button');
    const modal = document.getElementById('request-join-modal');
    const closeModalButton = document.getElementById('close-modal');
    const cancelButton = document.getElementById('cancel-button');
    const form = document.getElementById('request-join-form');

    function closeModal() {
        modal.classList.add('hidden');
    }

    if (participateButton) {
        participateButton.addEventListener('click', function() {
            modal.classList.remove('hidden');
        });
    }

    if (closeModalButton) {
        closeModalButton.addEventListener('click', closeModal);
    }

    if (cancelButton) {
        cancelButton.addEventListener('click', closeModal);
    }

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const message = document.getElementById('message').value;

        fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': '{{ csrf_token("submit_invitation_request") }}'
            },
            body: JSON.stringify({ message: message })
        }).then(response => {
            if (response.ok) {
                closeModal();
                setTimeout(() => {
                    location.reload();
                }, 500);
            } else {
                location.reload();
            }
        }).catch(error => {
        });
    });
});

</script>

{% endblock %}
