{% extends 'base.html.twig' %}

{% block title %}{{ groupe_j_d_r.title }} | DiceFinder{% endblock %}

{% block body %}
<div class="container mx-auto px-4 p-6">
    <a href="{{ path('app_groupe_j_d_r_index') }}" class="text-white bg-[#4447a1] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Retour
    </a>
    <div class="bg-slate-900 text-white min-h-screen p-4 md:p-8 space-y-10">
        <div class="flex flex-col space-y-8 lg:space-y-0 lg:flex-row items-start lg:items-start justify-between lg:space-x-10">
            <div class="w-full lg:w-1/2 space-y-8 relative">
                <img src="{{ asset('uploads/images-jdr/' ~ groupe_j_d_r.picture) }}" alt="{{ groupe_j_d_r.title }}" class="rounded-lg shadow-lg w-full h-auto lg:h-[500px] object-cover">
                <div class="absolute top-2 right-2">
                    <span class="text-xs sm:text-sm font-bold px-2 py-1 rounded 
                        {% if groupe_j_d_r.status == 'preparation' %} bg-yellow-500
                        {% elseif groupe_j_d_r.status == 'pret_a_jouer' %} bg-green-500
                        {% elseif groupe_j_d_r.status == 'en_cours' %} bg-blue-500
                        {% elseif groupe_j_d_r.status == 'complet' %} bg-red-500
                        {% elseif groupe_j_d_r.status == 'pause' %} bg-gray-500
                        {% elseif groupe_j_d_r.status == 'termine' %} bg-purple-500
                        {% elseif groupe_j_d_r.status == 'annule' %} bg-gray-400
                        {% else %} bg-gray-700
                        {% endif %} text-white">
                        {% if groupe_j_d_r.status == 'preparation' %}
                            En Préparation
                        {% elseif groupe_j_d_r.status == 'pret_a_jouer' %}
                            Prêt à jouer
                        {% elseif groupe_j_d_r.status == 'en_cours' %}
                            En Cours
                        {% elseif groupe_j_d_r.status == 'complet' %}
                            Complet
                        {% elseif groupe_j_d_r.status == 'pause' %}
                            En Pause
                        {% elseif groupe_j_d_r.status == 'termine' %}
                            Terminé
                        {% elseif groupe_j_d_r.status == 'annule' %}
                            Annulé
                        {% else %}
                            Statut inconnu
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="w-full lg:w-1/2 space-y-6">
                <div class="flex justify-between items-center">
                    <h2 class="text-2xl sm:text-3xl font-bold">{{ groupe_j_d_r.title }}</h2>
                    <svg class="w-5 h-5 sm:w-6 sm:h-6 text-orange-500 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <p class="text-gray-300">{{ groupe_j_d_r.description }}</p>

                <div class="flex justify-between">
                    <div>
                        <span class="text-gray-400">Date de Création</span>
                        <p class="text-lg font-semibold">{{ groupe_j_d_r.getCreatedAt|date('d/m/Y') }}</p>
                    </div>
                    <div>
                        <span class="text-gray-400">Participants</span>
                        <p class="text-lg font-semibold">{{ groupe_j_d_r.players|length }}/{{ groupe_j_d_r.maxPlayer }}</p>
                    </div>
                </div>

                <div id="category-container" class="mt-6">
                    <h3 class="font-semibold">Catégories</h3>
                    <div class="flex flex-wrap gap-2 mt-2">
                        {% set colors = ['bg-blue-200 text-blue-800', 'bg-green-200 text-green-800', 'bg-yellow-200 text-yellow-800', 'bg-red-200 text-red-800'] %}
                        {% for category in groupe_j_d_r.categories %}
                            {% set color = colors[loop.index0 % colors|length] %}
                            <span class="badge {{ color }} px-2 py-1 rounded">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="bg-gray-800 p-6 rounded-lg space-y-4">
                    <h3 class="font-semibold">MJ et Joueurs</h3>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div class="flex items-center space-x-4">
                            {% if groupe_j_d_r.owner.avatar %}
                                <img src="{{ asset('uploads/avatars/' ~ groupe_j_d_r.owner.avatar) }}" class="rounded-full w-12 h-12 object-cover" alt="{{ groupe_j_d_r.owner.username }}">
                            {% else %}
                                <img class="rounded-full w-12 h-12 object-cover" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                            {% endif %}
                            <div class="flex-1 min-w-0">
                                <p class="font-semibold truncate max-w-full">{{ groupe_j_d_r.owner.username }}</p>
                                <span class="text-gray-400 text-sm">MJ</span>
                            </div>
                        </div>
                        {% for player in groupe_j_d_r.players %}
                            {% if player.id != groupe_j_d_r.owner.id %}
                                <div class="flex items-center space-x-4">
                                    {% if player.avatar %}
                                        <img src="{{ asset('uploads/avatars/' ~ player.avatar) }}" class="rounded-full w-12 h-12 object-cover" alt="{{ player.username }}">
                                    {% else %}
                                        <img class="rounded-full w-12 h-12 object-cover" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                                    {% endif %}
                                    <div class="flex-1 min-w-0">
                                        <p class="font-semibold truncate max-w-full">{{ player.username }}</p>
                                        <span class="text-gray-400 text-sm">Joueur</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <div class="bg-gray-800 p-6 rounded-lg space-y-4">
                    <h3 class="font-semibold">Recrutement</h3>
                    <p class="text-lg font-semibold {{ groupe_j_d_r.recrutement ? 'text-green-500' : 'text-red-500' }}">
                        {{ groupe_j_d_r.recrutement ? 'Ouvert' : 'Fermé' }}
                    </p>
                </div>

                {% if app.user and app.user.id == groupe_j_d_r.owner.id %}
                    <a href="{{ path('app_groupe_j_d_r_edit', { id: groupe_j_d_r.id }) }}" class="w-full bg-green-600 text-white font-bold py-3 rounded mt-4 hover:bg-green-700 block text-center">
                        Editer mon Univers
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
            <ul class="flex flex-wrap justify-between sm:justify-center space-x-4 sm:space-x-8 -mb-px overflow-x-auto">
                <li class="me-2">
                    <a href="#" class="inline-block p-3 sm:p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" data-tab-target="#description-tab" aria-current="page">Description</a>
                </li>
                <li class="me-2">
                    <a href="#" class="inline-block p-3 sm:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" data-tab-target="#horaire-tab">Horaire</a>
                </li>
            </ul>
        </div>

        <div id="description-tab" class="tab-content">
            <h3 class="text-lg font-semibold">Description</h3>
            <p>{{ groupe_j_d_r.description }}</p>
        </div>

        <div id="horaire-tab" class="tab-content hidden">
            <h3 class="text-lg font-semibold">Horaire des événements</h3>
            <ul>
                {% for event in groupe_j_d_r.events %}
                    <li>
                        {% set dayOfWeek = event.eventTime|date('l') %}
                        {% set dayOfWeekFr = {
                            'Monday': 'Lundi',
                            'Tuesday': 'Mardi',
                            'Wednesday': 'Mercredi',
                            'Thursday': 'Jeudi',
                            'Friday': 'Vendredi',
                            'Saturday': 'Samedi',
                            'Sunday': 'Dimanche'
                        }[dayOfWeek] %}

                        {% set hour = event.eventTime|date('H') %}
                        {% set minute = event.eventTime|date('i') %}

                        {% if hour >= 0 and hour < 12 %}
                            {% set period = 'du matin' %}
                        {% elseif hour >= 12 and hour < 18 %}
                            {% set period = 'de l\'après-midi' %}
                        {% else %}
                            {% set period = 'du soir' %}
                        {% endif %}

                        {{ dayOfWeekFr }} à {{ hour }}:{{ minute }} {{ period }}
                    </li>
                {% else %}
                    <li>Aucun événement programmé.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-16">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-2xl font-bold">Parties Qui Recrutent</h2>
                <a href="{{ path('app_groupe_j_d_r_index') }}" class="text-blue-500 border border-blue-500 rounded-full py-2 px-6 hover:bg-blue-500 hover:text-white">Voir Plus</a>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for jdr in recruiting_jdrs|slice(0, 3) %}
                    <div class="bg-gray-800 rounded-lg shadow-md p-6 pb-5 text-white">
                        <img src="{{ asset('uploads/images-jdr/' ~ jdr.picture) }}" alt="{{ jdr.title }}" class="rounded-lg mb-4 w-full h-[20rem] object-cover">
                        <div class="flex justify-between items-center">
                            <span class="font-semibold text-lg">{{ jdr.title }}</span>
                            <a href="{{ path('app_groupe_j_d_r_show', { id: jdr.id }) }}" class="bg-blue-600 text-white px-3 py-2 rounded text-xs">GO</a>
                        </div>
                        <div class="flex justify-between items-center mt-4">
                            <div class="flex items-center">
                                {% if jdr.owner.avatar %}
                                    <img src="{{ asset('uploads/avatars/' ~ jdr.owner.avatar) }}" alt="{{ jdr.owner.username }}" class="rounded h-10 w-10 object-cover">
                                {% else %}
                                    <img class="rounded h-10 w-10 object-cover" src="{{ asset('images/default-avatar.png') }}" alt="MJ photo">
                                {% endif %}
                                <div class="ml-3">
                                    <p class="text-sm text-gray-400">MJ</p>
                                    <p class="text-sm text-white">{{ jdr.owner.username }}</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-sm text-gray-400">Places disponibles</p>
                                <p class="text-lg font-bold text-white">{{ jdr.maxPlayer - jdr.players|length }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="text-center text-gray-500">Aucune partie ne recrute actuellement.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flex justify-center fixed bottom-0 left-0 right-0 bg-gray-900 p-4">
        <div class="flex justify-center fixed bottom-0 left-0 right-0 bg-gray-900 p-4">
            {% if app.user is null %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous devez avoir un compte et être connecté pour rejoindre un univers.
                </button>
            {% elseif is_owner %} 
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous êtes le MJ
                </button>
            {% elseif is_member %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous êtes déjà membre
                </button>
            {% elseif request_in_progress %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    En attente d'acceptation de la demande
                </button>
            {% elseif is_closed %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Ce groupe est {{ groupe_j_d_r.status }} et ne recrute plus
                </button>
            {% elseif 'ROLE_JOUEUR' not in app.user.getRoles() %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous devez avoir le grade de joueur pour rejoindre ce JDR.
                </button>
            {% elseif groupe_j_d_r.recrutement == false %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Le recrutement est fermé pour cet Univers
                </button>
            {% else %}
                <button id="participate-button" class="w-full sm:w-[80%] md:w-[60%] bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 text-white font-bold py-3 rounded-lg shadow-lg hover:shadow-2xl hover:bg-blue-800 transition-all duration-300 ease-in-out transform hover:scale-105">
                    <svg class="inline-block w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    Je Participe
                </button>
            {% endif %}
        </div>
    </div>
    <div id="request-join-modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center transition-opacity duration-300 ease-in-out">
        <div class="bg-white p-6 rounded-lg space-y-4 shadow-2xl max-w-md w-full relative">
            <button id="close-modal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <h3 class="text-lg font-semibold">Postuler pour rejoindre cet Univers</h3>
            <form id="request-join-form" method="POST" action="{{ path('request_join', {'groupeId': groupe_j_d_r.id}) }}">
                <div class="mb-4">
                    <label for="message" class="block text-base font-semibold text-gray-900 mb-2">Votre message</label>
                    <textarea id="message" name="message" rows="4" class="bg-gray-100 text-gray-800 text-sm rounded-md shadow-inner focus:ring-blue-500 focus:border-blue-500 block w-full p-3 border border-gray-300" placeholder="Expliquez pourquoi vous voulez rejoindre cet Univers..."></textarea>
                </div>
                <div class="flex justify-end space-x-2">
                    <button type="button" id="cancel-button" class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition-all duration-200">Annuler</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-all duration-200 shadow-lg">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const tabLinks = document.querySelectorAll('[data-tab-target]');
    const tabContents = document.querySelectorAll('.tab-content');

    tabLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            tabLinks.forEach(item => {
                item.classList.remove('text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
                item.classList.add('hover:text-gray-600', 'hover:border-gray-300', 'dark:hover:text-gray-300', 'border-transparent');
            });
            tabContents.forEach(content => content.classList.add('hidden'));
            link.classList.add('text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
            link.classList.remove('hover:text-gray-600', 'hover:border-gray-300', 'border-transparent');
            const target = document.querySelector(link.getAttribute('data-tab-target'));
            target.classList.remove('hidden');
        });
    });

    const participateButton = document.getElementById('participate-button');
    const modal = document.getElementById('request-join-modal');
    const closeModalButton = document.getElementById('close-modal');
    const cancelButton = document.getElementById('cancel-button');
    const form = document.getElementById('request-join-form');

    function closeModal() {
        modal.classList.add('hidden');
    }

    if (participateButton) {
        participateButton.addEventListener('click', function() {
            modal.classList.remove('hidden');
        });
    }

    if (closeModalButton) {
        closeModalButton.addEventListener('click', closeModal);
    }

    if (cancelButton) {
        cancelButton.addEventListener('click', closeModal);
    }

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const message = document.getElementById('message').value;

        fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': '{{ csrf_token("submit_invitation_request") }}'
            },
            body: JSON.stringify({ message: message })
        }).then(response => {
            if (response.ok) {
                closeModal();
                setTimeout(() => {
                    location.reload();
                }, 500);
            } else {
                location.reload();
            }
        }).catch(error => {
        });
    });
});

</script>

{% endblock %}
