{% extends 'base.html.twig' %}

{% block title %}{{ groupe_j_d_r.title }} | DiceFinder{% endblock %}

{% block body %}
<div class="container mx-auto px-4 p-6 relative">
    <a href="{{ path('app_groupe_j_d_r_index') }}" class="glassmorphism text-white bg-[#4447a1] hover:bg-blue-800 focus:ring-4 
        focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center mb-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Retour
    </a>
    <div class="flex flex-col w-full space-y-8 lg:space-y-0 lg:space-x-8 lg:flex-row">
        <div class="w-full lg:w-1/3">
            <div class="bg-white bg-opacity-10 border border-[#bb8f4f] rounded-lg shadow-lg p-6 pb-5 text-white relative transition-all duration-300 hover:-translate-y-2 hover:shadow-2xl hover:bg-opacity-20 card-item"
                style="will-change: transform;">
                <a href="{{ path('app_groupe_j_d_r_show', {'id': groupe_j_d_r.id}) }}" class="block">
                    <div class="relative">
                        <img src="{{ asset('uploads/images-jdr/' ~ groupe_j_d_r.picture) }}" 
                                alt="{{ groupe_j_d_r.title }} image" 
                                class="rounded-lg mb-4 w-full h-[20rem] object-cover {% if groupe_j_d_r.players|length >= groupe_j_d_r.maxPlayer %} blur-sm {% endif %} tokenImage">
                        <div class="absolute top-2 right-2">
                            <span class="text-sm font-bold px-2 py-1 rounded 
                                {% if groupe_j_d_r.status == 'nouveau' %} bg-green-600
                                {% elseif groupe_j_d_r.status == 'en_cours' %} bg-blue-500
                                {% elseif groupe_j_d_r.status == 'termine' %} bg-red-500
                                {% else %} bg-gray-700
                                {% endif %} text-white">
                                {% if groupe_j_d_r.status == 'nouveau' %}
                                    Nouveau
                                {% elseif groupe_j_d_r.status == 'en_cours' %}
                                    En Cours
                                {% elseif groupe_j_d_r.status == 'termine' %}
                                    Terminé
                                {% else %}
                                    Statut inconnu
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </a>
                <div class="mb-2">
                    <a href="{{ path('app_groupe_j_d_r_show', {'id': groupe_j_d_r.id}) }}" class="font-semibold text-xl  hover:underline truncate max-w-[100%] block">{{ groupe_j_d_r.title }}</a>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <a href="{{ path('app_profile_show', { 'id': groupe_j_d_r.owner.id }) }}" class="flex items-center group transition-all duration-300 hover:bg-opacity-20 p-1 rounded-lg">
                        {% if groupe_j_d_r.owner.avatar %}
                            <img src="{{ asset('uploads/avatars/' ~ groupe_j_d_r.owner.avatar) }}" alt="MJ photo" class="rounded-full h-12 w-12 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300">
                        {% else %}
                            <img class="rounded-full h-12 w-12 object-cover border-2 border-gray-500 group-hover:border-blue-500 transition-all duration-300" src="{{ asset('images/default-avatar.png') }}" alt="Default profile photo">
                        {% endif %}
                        <div class="ml-2">
                            <p class="text-xs text-gray-400 group-hover:text-white transition-colors duration-300">MJ</p>
                            <p class="text-lg font-bold text-white group-hover:underline transition-colors duration-300">{{ groupe_j_d_r.owner.username }}</p>
                        </div>
                    </a>
                    <div class="flex items-center text-right gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                        </svg>
                        {% if groupe_j_d_r.players|length >= groupe_j_d_r.maxPlayer %}
                            <p class="text-xl font-bold text-red-500">Complet</p>
                        {% else %}
                            <p class="text-xl font-bold text-white">{{ groupe_j_d_r.players|length }} / {{ groupe_j_d_r.maxPlayer }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if app.user and app.user.id == groupe_j_d_r.owner.id %}
                <a href="{{ path('app_groupe_j_d_r_edit', { id: groupe_j_d_r.id }) }}" class="w-full bg-green-600 text-white font-bold py-3 rounded hover:bg-green-700 text-center block">
                    Editer mon Univers
                </a>
            {% endif %}
        </div>

        <div class="flex flex-col w-full lg:w-2/3 space-y-6">
            <div class="p-6 rounded-lg bg-opacity-12 border border-[#bb8f4f] glassmorphism w-full">
                <h3 class="text-gray-100 font-semibold text-xl mb-4">Description</h3>
                <p class="text-gray-300 mb-4">{{ groupe_j_d_r.description }}</p>
                    {% set diff = date().diff(groupe_j_d_r.createdAt) %}
                    <p class="absolute bottom-2 right-4 text-sm text-gray-400">
                        Fondé depuis 
                        {% if diff.y > 0 %}
                            {{ diff.y }} an{{ diff.y > 1 ? 's' }}
                        {% elseif diff.m > 0 %}
                            {{ diff.m }} mois
                        {% elseif diff.d > 0 %}
                            {{ diff.d }} jour{{ diff.d > 1 ? 's' }}
                        {% elseif diff.h > 0 %}
                            {{ diff.h }} heure{{ diff.h > 1 ? 's' }}
                        {% elseif diff.i > 0 %}
                            {{ diff.i }} minute{{ diff.i > 1 ? 's' }}
                        {% else %}
                            à l'instant
                        {% endif %}
                    </p>
            </div>

            <div class="flex flex-col lg:flex-row w-full space-y-4 lg:space-y-0 lg:space-x-4">
                <div class="w-full lg:w-1/2 bg-white bg-opacity-10 border rounded-lg shadow-lg p-6 border border-[#bb8f4f]">
                    <h2 class="text-gray-100 font-semibold text-xl mb-4">Recrutement</h2>
                    <p class="text-lg font-semibold {{ groupe_j_d_r.recrutement ? 'text-green-500' : 'text-red-500' }}">
                        {{ groupe_j_d_r.recrutement ? 'Ouvert' : 'Fermé' }}
                    </p>
                </div>
                
                <div class="w-full lg:w-1/2 bg-white bg-opacity-10 border rounded-lg shadow-lg p-6 border border-[#bb8f4f]">
                    <h2 class="text-gray-100 font-semibold text-xl mb-4">
                        {% if groupe_j_d_r.licence %}
                            Licence
                        {% else %}
                            Catégories
                        {% endif %}
                    </h2>
                    
                    <div class="flex flex-wrap gap-2">
                        {% if groupe_j_d_r.licence %}
                            <span class="bg-blue-200 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded-full">
                                {{ groupe_j_d_r.licence.name }}
                            </span>
                            <p class="text-gray-400 text-xs">
                                Éditeur : {{ groupe_j_d_r.licence.publisher }} | Année de sortie : {{ groupe_j_d_r.licence.releaseYear }}
                            </p>
                        {% else %}
                            {% set colors = ['bg-blue-200 text-blue-800', 'bg-green-100 text-green-800', 'bg-yellow-200 text-yellow-800', 'bg-red-200 text-red-800'] %}
                            {% for category in groupe_j_d_r.categories %}
                                {% set color = colors[loop.index0 % colors|length] %}
                                <span class="{{ color }} text-xs font-medium px-2.5 py-0.5 rounded-full">{{ category.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center fixed bottom-0 left-0 right-0 p-4">
            {% if app.user is null %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous devez avoir un compte et être connecté pour rejoindre un univers.
                </button>
            {% elseif is_owner %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous êtes le MJ
                </button>
            {% elseif is_member %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous êtes déjà membre
                </button>
            {% elseif request_in_progress %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    En attente d'acceptation de la demande
                </button>
            {% elseif is_closed %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Ce groupe est {{ groupe_j_d_r.status }} et ne recrute plus
                </button>
            {% elseif 'ROLE_JOUEUR' not in app.user.getRoles() %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Vous devez avoir le grade de joueur pour rejoindre ce JDR.
                </button>
            {% elseif groupe_j_d_r.recrutement == false %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Le recrutement est fermé pour cet Univers
                </button>
            {% elseif groupe_j_d_r.players|length >= groupe_j_d_r.maxPlayer %}
                <button class="w-full sm:w-[80%] md:w-[60%] bg-gray-500 text-white font-bold py-3 rounded-lg shadow-lg cursor-not-allowed">
                    Cet univers est complet. Pas de places disponibles.
                </button>
            {% else %}
                <button id="participate-button" class="w-full sm:w-[80%] md:w-[60%] bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 text-white font-bold py-3 rounded-lg shadow-lg hover:shadow-2xl hover:bg-blue-800 transition-all duration-300 ease-in-out transform hover:scale-105">
                    <svg class="inline-block w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    Je Participe
                </button>
            {% endif %}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const tabLinks = document.querySelectorAll('[data-tab-target]');
    const tabContents = document.querySelectorAll('.tab-content');

    tabLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            tabLinks.forEach(item => {
                item.classList.remove('text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
                item.classList.add('hover:text-gray-600', 'hover:border-gray-300', 'dark:hover:text-gray-300', 'border-transparent');
            });
            tabContents.forEach(content => content.classList.add('hidden'));
            link.classList.add('text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
            link.classList.remove('hover:text-gray-600', 'hover:border-gray-300', 'border-transparent');
            const target = document.querySelector(link.getAttribute('data-tab-target'));
            target.classList.remove('hidden');
        });
    });

    const participateButton = document.getElementById('participate-button');
    const modal = document.getElementById('request-join-modal');
    const closeModalButton = document.getElementById('close-modal');
    const cancelButton = document.getElementById('cancel-button');
    const form = document.getElementById('request-join-form');

    function closeModal() {
        modal.classList.add('hidden');
    }

    if (participateButton) {
        participateButton.addEventListener('click', function() {
            modal.classList.remove('hidden');
        });
    }

    if (closeModalButton) {
        closeModalButton.addEventListener('click', closeModal);
    }

    if (cancelButton) {
        cancelButton.addEventListener('click', closeModal);
    }

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const message = document.getElementById('message').value;

        fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': '{{ csrf_token("submit_invitation_request") }}'
            },
            body: JSON.stringify({ message: message })
        }).then(response => {
            if (response.ok) {
                closeModal();
                setTimeout(() => {
                    location.reload();
                }, 500);
            } else {
                location.reload();
            }
        }).catch(error => {
        });
    });
});
</script>

{% endblock %}
