{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
    <h1 class="text-2xl font-semibold text-center text-gray-100 mb-5 mt-5">Paramètres du compte</h1>
    <div class="mt-10 grid gap-4 lg:grid-cols-3 lg:grid-rows-2">
        <div class="relative lg:row-span-2">
            <div class="absolute inset-px rounded-lg glassmorphism lg:rounded-l-[2rem]"></div>
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)] shadow-lg backdrop-blur-lg border border-white/10">
                    <div class="p-6 rounded-lg backdrop-blur-md">
                    <h2 class="text-2xl font-bold text-gray-100 mb-6">Informations Personnelles</h2>
                        {{ form_start(form) }}
                            <div class="mb-6">
                                {{ form_label(form.lastName, 'Nom', {'label_attr': {'class': 'block text-gray-100 mb-2 font-medium tracking-wide'}}) }}
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-lg w-full p-4 shadow-sm focus:ring-2 focus:ring-indigo-500 transition duration-300'}}) }}
                            </div>

                            <div class="mb-6">
                                {{ form_label(form.firstName, 'Prénom', {'label_attr': {'class': 'block text-gray-100 mb-2 font-medium tracking-wide'}}) }}
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-lg w-full p-4 shadow-sm focus:ring-2 focus:ring-indigo-500 transition duration-300'}}) }}
                            </div>

                            <div class="mb-6">
                                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'block text-gray-100 mb-2 font-medium tracking-wide'}}) }}
                                {{ form_widget(form.email, {'attr': {
                                    'class': 'form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-lg w-full p-4 shadow-sm focus:ring-2 focus:ring-indigo-500 transition duration-300', 
                                    'disabled': 'disabled'
                                }}) }}
                            </div>

                            <div class="flex justify-end mt-4">
                                <button type="submit" class="bg-indigo-600 text-white font-bold py-3 px-6 rounded-full shadow-md hover:bg-indigo-700 transition duration-300">
                                    Sauvegarder
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            <div class="absolute inset-0 lg:rounded-l-[2rem] rounded-lg border border-white/20 pointer-events-none shadow-xl ring-2 ring-purple-500/20"></div>
        </div>
        <div class="relative max-lg:row-start-1">
            <div class="absolute inset-px rounded-lg glassmorphism max-lg:rounded-t-[2rem]"></div>
            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
                <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                    <p class="mt-2 text-lg/7 font-medium tracking-tight text-gray-950 max-lg:text-center">Performance</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit maiores impedit.</p>
                </div>
                <div class="flex flex-1 items-center justify-center px-8 max-lg:pb-12 max-lg:pt-10 sm:px-10 lg:pb-2">
                    <img class="w-full max-lg:max-w-xs" src="https://tailwindui.com/plus/img/component-images/bento-03-performance.png" alt="">
                </div>
            </div>
            <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"></div>
        </div>
        <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
            <div class="absolute inset-0 rounded-xl glassmorphism backdrop-blur-lg border border-white/10 shadow-xl"></div>
            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.xl)+1px)] shadow-lg">
                <div class="p-6 rounded-xl backdrop-blur-md">
                    <h2 class="text-2xl font-bold text-gray-100 mb-6">Changer le mot de passe</h2>
                    {{ form_start(passwordForm) }}
                        <div class="mb-6">
                            {{ form_label(passwordForm.current_password, 'Mot de passe actuel', {'label_attr': {'class': 'block text-gray-100 mb-2 font-medium tracking-wide'}}) }}
                            {{ form_widget(passwordForm.current_password, {'attr': {'class': 'form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-lg w-full p-4 shadow-sm focus:ring-2 focus:ring-purple-500 transition duration-300'}}) }}
                        </div>

                        <div class="mb-6">
                            {{ form_label(passwordForm.new_password, 'Nouveau mot de passe', {'label_attr': {'class': 'block text-gray-100 mb-2 font-medium tracking-wide'}}) }}
                            {{ form_widget(passwordForm.new_password, {'attr': {'class': 'form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-lg w-full p-4 shadow-sm focus:ring-2 focus:ring-purple-500 transition duration-300'}}) }}
                        </div>

                        <div class="mb-6">
                            {{ form_label(passwordForm.confirm_password, 'Confirmer le nouveau mot de passe', {'label_attr': {'class': 'block text-gray-100 mb-2 font-medium tracking-wide'}}) }}
                            {{ form_widget(passwordForm.confirm_password, {'attr': {'class': 'form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-lg w-full p-4 shadow-sm focus:ring-2 focus:ring-purple-500 transition duration-300'}}) }}
                        </div>

                        <div class="flex justify-end mt-4">
                            <button type="submit" class="bg-red-600 text-white font-bold py-3 px-6 rounded-full shadow-md hover:bg-red-700 transition duration-300">
                                Mettre à jour
                            </button>
                        </div>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
            <div class="absolute inset-0 rounded-xl border border-white/20 pointer-events-none shadow-xl ring-2 ring-purple-500/20"></div>
        </div>
    <div class="relative lg:row-span-2 w-full overflow-hidden">
        <div class="absolute inset-0 rounded-lg glassmorphism max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-lg max-lg:rounded-b-[2rem] lg:rounded-r-[2rem] shadow-lg">
            <div class="px-6 pb-6 pt-6 sm:px-8 sm:pt-8">
                <h2 class="text-2xl font-bold text-gray-100 mb-6 text-center">Disponibilités</h2>
                <form method="post" action="{{ path('app_settings_account') }}" id="availability-form">
                    <div class="grid gap-4">
                        {% for day, availability in availabilities %}
                            <div class="bg-gray-800 p-3 rounded-md shadow-md">
                                <div class="flex flex-wrap justify-between items-center gap-4">
                                    <span class="text-lg font-medium text-gray-100 w-20">{{ day|capitalize }}</span>
                                    
                                    <button type="button" class="day-button {{ availability.isAvailable ? 'bg-green-500' : 'bg-red-500' }} text-white font-bold py-1 px-3 rounded transition duration-300 text-center"
                                            data-day="{{ day }}" data-is-available="{{ availability.isAvailable ? '1' : '0' }}" 
                                            onclick="toggleAvailability(this)">
                                        {{ availability.isAvailable ? 'Disponible' : 'Indisponible' }}
                                    </button>
                                    
                                    <div class="flex items-center space-x-2">
                                        <label class="text-gray-100 text-sm">De:</label>
                                        <input type="text" maxlength="5" placeholder="HH:MM"
                                            class="form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-md py-1 px-2 max-w-[80px]"
                                            id="start_time_{{ day }}" name="start_time_{{ day }}"
                                            value="{{ availability.startTime ? availability.startTime|date('H:i') : '' }}"
                                            {{ not availability.isAvailable ? 'disabled' : '' }}
                                            oninput="formatTime(this)">
                                        <label class="text-gray-100 text-sm ml-2">À:</label>
                                        <input type="text" maxlength="5" placeholder="HH:MM"
                                            class="form-input bg-gray-700 text-gray-200 border border-gray-600 rounded-md py-1 px-2 max-w-[80px]"
                                            id="end_time_{{ day }}" name="end_time_{{ day }}"
                                            value="{{ availability.endTime ? availability.endTime|date('H:i') : '' }}"
                                            {{ not availability.isAvailable ? 'disabled' : '' }}
                                            oninput="formatTime(this)">
                                    </div>

                                    <!-- Champ caché pour soumettre l'état de disponibilité -->
                                    <input type="hidden" name="is_available_{{ day }}" id="is_available_{{ day }}" value="{{ availability.isAvailable ? '1' : '0' }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="flex justify-end mt-6">
                        <button type="submit" class="bg-indigo-600 text-white font-bold py-3 px-6 rounded-full shadow-md hover:bg-indigo-700 transition duration-300">
                            Sauvegarder
                        </button>
                    </div>
                </form>
            </div>
        </div>
    <div class="pointer-events-none absolute inset-0 rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
</div>

<script>
    function formatTime(input) {
        let value = input.value.replace(/\D/g, '');
        if (value.length >= 3) {
            input.value = value.slice(0, 2) + ':' + value.slice(2, 4);
        } else {
            input.value = value;
        }
    }

    function toggleAvailability(button) {
        button.classList.toggle('bg-green-500');
        button.classList.toggle('bg-red-500');

        const day = button.getAttribute('data-day');
        const isAvailableInput = document.getElementById('is_available_' + day);
        
        if (button.classList.contains('bg-green-500')) {
            button.textContent = 'Disponible';
            isAvailableInput.value = '1';
            document.getElementById('start_time_' + day).disabled = false;
            document.getElementById('end_time_' + day).disabled = false;
        } else {
            button.textContent = 'Indisponible';
            isAvailableInput.value = '0';
            document.getElementById('start_time_' + day).disabled = true;
            document.getElementById('end_time_' + day).disabled = true;
        }
    }
</script>
{% endblock %}
